<div class="container mt-5">
  <div class="w-75 mx-auto">
    <select name="filter">
      <option value="家居物業">家居物業</option>
      <option value="交通出行">交通出行</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="餐飲食品">餐飲食品</option>
      <option value="其他">其他</option>
    </select>
    
    <p>總金額: <span class="h4">100</span></p>
    
    {{!-- record plane --}}
    <div class="data-plane">
      {{#each records}}
        <div class="record-ls row align-items-center">
          {{!-- record 內容 --}}
          <div class="record col p-1">
            <div class="row align-items-center justify-content-between">
              <div class="col-2 pr-0 text-center">
                <i class="fas {{category}} kind-icon"></i>
              </div>
              <div class="col-auto pl-0">
                <h5 class="mb-0">{{name}}</h5>
                <small>{{showDate}}</small>
              </div>
              <div class="col-2 ml-auto mr-2 text-right">$ {{amount}}</div>
            </div>
          </div>
          {{!-- 按鈕群 --}}
          <div class="col-auto ml-auto">
            <a href="/records/{{id}}/edit">修改</a>
            <form class="del-form d-inline-block" action="/records/{{id}}/delete?_method=DELETE" method="POST">
              <button type="submit">刪除</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
   
    <a href="/records/new" class="btn btn-primary mt-5">新增支出</a>
  </div>
</div>