<div class="container mt-5">
  {{!-- new page or edit page --}}
  {{#if new}}
    <form action="/records/new" method="POST">
  {{else}}
    <form action="/records/{{id}}/edit?_method=PUT" method="POST">
  {{/if}}
  
    <div class="form-group">
      <input type="name" class="form-control" name="name" placeholder="名稱 *" value="{{record.name}}" required>
    </div>
    <div class="form-group">
      <input type="date" class="form-control" name="date" placeholder="日期 *" value="{{record.showDate}}" required>
    </div>
    <div class="form-group">
      <select class="form-control" name="category">
        <option value="" disabled>類別</option>

        {{#each select}}
          <option value="{{category}}" {{#if selected}}selected{{/if}}>{{category}}</option>
        {{/each}}
        
      </select>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="amount" placeholder="金額 *" min="0" step="1" value="{{record.amount}}" required>
    </div>
    {{#if new}}
      <button type="submit" class="btn btn-primary">新增</button>
    {{else}}
      <button type="submit" class="btn btn-primary">確認</button>
    {{/if}}
  </form>
</div>